.modal__image {
  margin: 0;
  width: 498px;
  height: 498px;
  border-radius: 16px;
}

.modal__content {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  height: 436px;
  border-radius: 20px;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
}

.modal__content_type_image {
  margin: 0;
  height: 610px;
  padding: 0;
}

.modal__caption {
  margin: 20px 32px 12px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  margin: 12px 32px 32px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__close_type_image {
  background: url(/src/assets/close-btn-2.png);
}

.modal__delete-btn {
  margin: 0;
  position: relative;
  top: -92px;
  left: 360px;
  background: none;
  border: none;
  color: rgba(255, 77, 0, 1);
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  cursor: pointer;
}
